*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
 body{
  font-family: 'Raleway', sans-serif;;
 }

header{
     display: flex;
     justify-content: space-between;
}
video{
     width:100%;
}

.absolute{
  width: 100%;
  height: 100%;
  top: 0;
  right:0;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 80px;
  font-weight: 900;
  z-index: index 100;
  color:#fff
}

h1::after{
  display: block;
  width: 30%;
  height: 10px;
  content: "";
  margin: auto;
  background-color: #fff;
}
.capa {
    position:absolute;
    top:0;
    width: 100%;
    height:100%;
    background: #1c1c1d;
    opacity:0.5;
    mix-blend-mode: overlay;}